#svg {
    position: relative;
    margin-top: 75px;
}
.field-of-study-text {
    display: none;
    left: 30px;
    position: absolute;
    top: 100px;
    width: 750px;
    /*text-align: center;*/
}
.text {
    width: 600px;
}
hr {
    background-color: #f8a21e;
    height: 6px;
}

text {
    font-family: Aleo;
    font-size: 20px;
    fill: red;
}